@mixin text-shadow {
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000, 1px -1px 0px #000,
    1px 0px 0px #000, -1px 0px 0px #000,
    0px 1px 0px #000, 0px -1px 0px #000;
}


@mixin drop-shadow {
  filter: drop-shadow(3px 3px 7px #000);
}

@mixin text-shadow--white {
  text-shadow:
    2px 2px 0px #fff
}



@mixin box-shadow {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

}