/*------------------------------------------------
色
------------------------------------------------*/

$textBaseColor:#4E301B;
$textMessageColor:#857868;
$textTitleColor:#35A1C3;
$textColor:#35A1C3;
$btnColor:#FED966;
$labelColor:#FED966;
$logoBackGroundColor:#FDF9EF;
$infoBackGroundBaseColor:#FDF9EF;
$fqBackGroundBaseColor:#FDF9EF;
$textBackGroundColor:#FFFFFFE5;
$lineColor:#C6C6C6;
/*------------------------------------------------
幅、高さ
------------------------------------------------*/
$contentMaxWidth:740px;
$itemListImgWidth:264px;
$itemListImgHight:166px;


/*------------------------------------------------
フォント太さ、サイズ
------------------------------------------------*/
$fontWeightBold:700;
$fontWeightNormal:400;
$fontSizeLarge:32px;
$fontSizeMedium:18px;
$fontSizeSmall:16px;
$fontSizeTiny:13px;